/* .depression__content{
	color: black;
	padding: 10px
} */
.depression__content h1{
	margin: 5px 0px;
}
.depression__content span{
	font-size: 90%;
}

.depression__table{
	border: 1px solid #000;
	border-collapse: collapse;
}
.depression__table th,td{
	border: 1px solid #000;
	width: 55px;
	text-align: center;
}

.depression__errmsg{
	color: red;
}

.depression__content button{
	margin-top: 10px;
}
.depression__footer{
	margin-top: 20px;
}