footer{
	position: fixed;
	bottom: 0;
  left: 0;
  right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:rgb(255, 183, 219);
	gap: 45px;
	height: 50px;
	white-space: nowrap;

	font-family: Helvetica, Arial, sans-serif;
}